body {
  font-family: Poppins;
  margin: 0%;
  background-color: #2A1704;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100svw;
  background-color: #D2CCC3;
}

.title {
  font-size: medium;
}


.menu {
  display: none;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 100%;
}

.dropdown-button {
  border: none;
  color: #2A1704;
  background-color: #D2CCC3;
  width: 100%;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #C4BCB1;
  background-color: #2A1704;
  padding: 5px;
  text-decoration: none;
  text-align: center;

}

.dropdown-content a:hover {
  color: #FFFFFF;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100svw;
  height: 100svh;
  background-color: #2A1704;
}

.logo-container {
  width: 100%;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 60%;
  height: auto;
  border-radius: 15%;
  margin-top: 15%;
}

.slogan-and-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-dish {
  display: flex;
  width: 60%;
  height: auto;
  border-radius: 15%;
}

.slogan {
  color: #C4BCB1;
  font-family: Playfair;
  font-size: 2.5vw;
}

.other-meals {
  width: 100svw;
}

.course-container {
  padding-top: 15%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.courses {
  width: 50%;
  border-radius: 15%;
}

.description-container {
  display: flex;
  width: 100%;
  height: 30svh;
  justify-content: center;
  align-items: center;
}

.descriptions {
  width: 75%;
  font-size: 4vw;
  text-align: center;
}

.meals-right-to-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #DCD6CD;
}

.meals-left-to-right {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: #DCD6CD;
}

.footer {
  background-color: #2A1704;
  color: #C4BCB1;
  padding: 10px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address {
  margin: 0;
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.hours-text {
  margin: 0%;
}

@media (min-width: 640px) {

  .title {
    font-size: x-large;
  }

  .menu {
    display: flex;
    gap: 10px;
  }

  .dropdown {
    display: none;
  }

  .logo-container {
    width: 50%;
    height: 100%;
    padding: 0;
  }

  .slogan-and-image {
    width: 50%;
  }

  .hero {
    flex-direction: row;
    height: 50svh;
  }


  .logo {
    margin: 0;
  }

}

@media (min-width: 1024px) {

  .hero {
    height: 100svh;
  }

  .meals-right-to-left,
  .meals-left-to-right {
    flex-direction: row;
    height: 50svh;
  }

  .course-container {

    padding: 0;
    width: 50%;

  }

  .description-container {
    width: 50%;
    height: 100%;
  }

  .descriptions {
    width: 60%;
    font-size: 2vw;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-info {
    flex-direction: row;
    gap: 10%;
  }

  .address {
    width: 200px;
  }

  .phone {
    width: 150px;
  }
}